NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/yapper?schema=public"
REDIS_URL="redis://HOST:6379"
JWT_ACCESS_SECRET="replace-with-random-string"
JWT_REFRESH_SECRET="replace-with-another-random-string"
STRIPE_SECRET_KEY=""
S3_BUCKET=""
OPENAI_API_KEY=""

NEXT_PUBLIC_API_URL="https://yapper-mc7e.onrender.com"
